<div>
  <div ng-form="form" class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Personal Information</legend>

      <!-- Textarea -->
      <div class="control-group">
        <label class="control-label" for="about">About Me</label>

        <div class="controls">
          <textarea id="about" name="about" ng-model="about.user.about" required>I'm very...</textarea>
        </div>
      </div>
      <br>
      <div class="control-group">
        <label class="control-label" for="about">More About Me</label>

        <div class="controls">
          <textarea id="moreAbout" name="moreAbout" ng-model="about.user.moreAbout" required>I'm also very...</textarea>
        </div>
      </div>

      <br>
      <a ng-link="form:end">
        <button class="btn btn-primary">Continue</button>
      </a>
    </fieldset>
  </div>
  <br>
  <div class="well">
    <label>Current Form State</label><br>
    Valid: {{form.$valid}}
  </div>
</div>

